body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
  }
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.board {
    position: absolute;
    width: 100%;
    height: 100%;
    .row {
        width: 95%;
        height: 27.5%;
        margin: 2%;
        display: flex;
        justify-content: space-around;
        .cell {
            width: 31.5%;
            height: 100%;
            border: 1px black solid;
            font-size: 4.2rem;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
}

.winner {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 4.2rem;
    background-color: black;
    color: white;
    opacity: 0.5;
}


